.container
    width: 100%
    height: 100px
    background-color: white
    border-bottom: 2px solid #e6e6e6
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
    .navbar
        padding: 5px
    .navbartop
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 10px
        width: 95%
        
        
        .navbarleft
            display: flex
            width: 50%

            align-items: center
            .hammenu
                cursor: pointer
                &:hover
                    scale: 1.1
            .logo
                display: flex
                align-items: center
                margin: 0 8px
                cursor: pointer
                position: relative
                font-weight: bold
                font-size: 1.5em
                
                
                .logo_i
                    
                    position: absolute
                    left: 25px
                    top: -2px
            .search
                 
                 margin: 5px 10px
                 width: 90%
                 padding: 0 10px
                 display: none
                 align-items: center
                 height: 30px
                 border: 1px solid #ccc
                 border-radius: 5px  
                 input
                    border: none
                    outline: none
                    width: 100%
                    height: 80%
                    color: black
                    // padding: 10px 20px
                    border-radius: 5px 0 0 5px
                
                 span
                    background-color: white
                    border-radius: 0 5px 5px 0
                    display: flex
                    align-items: center
                    height: 80%     
                    

        
        .navbarright
    

    .navbarbottom
        // background-color: red
        width: 100vw
        height: 30px
        .search
            margin: 5px 10px
            max-width: 90%
            padding: 0 10px
            display: flex
            align-items: center
            height: 30px
            border: 1px solid #ccc
            border-radius: 5px
            input
                border: none
                outline: none
                width: 100%
                height: 80%
                color: black
                // padding: 10px 20px
                border-radius: 5px 0 0 5px
                
            span
                background-color: white
                border-radius: 0 5px 5px 0
                display: flex
                align-items: center
                height: 80%

    
    
@media (min-width: 768px) 
    .container
        height: 50px
        
        .navbar
            .navbartop
                .navbarleft
                    
                    
                
                .search
                    display: flex
            .navbarbottom
                display: none
            
        
        



        

                
                
    
